[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jurkowski-emil
[access "refs/for/refs/*"]
	read = group user/jurkowski-emil
	push = group user/jurkowski-emil
	label-Code-Review = -2..+2 group user/jurkowski-emil
	label-Verified = -1..+1 group user/jurkowski-emil
	rebase = group user/jurkowski-emil
	removeReviewer = group user/jurkowski-emil
	submit = group user/jurkowski-emil
[access "refs/heads/*"]
	read = group user/jurkowski-emil
	create = group user/jurkowski-emil
	push = +force group user/jurkowski-emil
	pushMerge = group user/jurkowski-emil
[access "refs/tags/*"]
	push = group user/jurkowski-emil
	push = +force group user/jurkowski-emil
